{% extends 'base.html' %}

{% load static %}

{% block content %}
    
    {%  if col%}
    <h1>Selected Field Values for :</h1>
      <table>
        <thead>
            <tr>
                <th>{{col}}</th>
            </tr>
        </thead>
        <tbody>
            {% for value in field_values %}
                <tr>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {%  else %}
    <p>{{  error }}</p>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
      {% endif %}

      {% endblock %}