{% extends 'base.html' %}

{% load static %}

{% block content %}


  

{% if db_response %}

<script>

    alert('{{ db_response }}');
  </script>
  
  {% else %}
  <a href="{% url 'home' %}" class="btn btn-primary custom-button">Click me</a>
{% endif %}
 
  
    <table id="my-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for item in model_data %}
            <tr>
                <td>{{ item.first_name }}</td>
                <td>{{ item.first_name}}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
